@model IEnumerable<DynamicFilter.Models.Filter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filters</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>FilterID</th>
                <th>Category</th>
                <th>Type</th>
                <th>Place</th>
                <th>Description</th>
                <th>Detail</th>
                <th>Detail2</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                "processing": true,
                "serverSide": false,
                "ajax": {
                    "url": "@Url.Action("Get","Filters")",
                    "type": "POST"
                },
                "columns": [
                    { "data": "FilterID"},
                    { "data": "Category.Name" },
                    { "data": "Type.Name" },
                    { "data": "Place" },
                    { "data": "Description"},
                    { "data": "Detail" },
                    { "data": "Detail" },
                    { "data": "FilterID" },
                    { "data": "FilterID"},

                ],
                columnDefs: [
                    {
                    targets: 8,
                    render: function ( data, type, row ) {                                                
                        var url = '@Html.ActionLink("Delete", "Delete", new { id=1 })';
                        return url.replace('1',data); 
                        }
                    },
                    {
                    targets: 7,
                    render: function ( data, type, row ) {                                                
                        var url = '@Html.ActionLink("Edit", "Edit", new { id=1 })';
                        return url.replace('1',data); 
                        }
                    },
                    {
                        targets: 6,                    
                        visible:false
                    },
                    {
                    targets: 5,
                        render: function (data, type, row) { 
                                                    
                        if (data!=null) {
                            if (data.length > 200) {
                                data=data.substr(0, 200) + '…';
                            }                         
                        }
                            return data;
                        }
                        
                    },
                    {
                    targets: 4,
                        render: function (data, type, row) {

                            if (data!=null) {
                                if (data.length > 100) {
                                data=data.substr(0, 100) + '…';
                            }
                            }
                            
                            return data;
                        }
                    },
                 ]
            });
            });
    </script>
}